/* header styles */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  margin-left: 215px;
}
.logo-design {
  color: #2196f3;
}
.header,
.nav,
.nav-list,
.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mail-to,
.phone,
.info-item,
.info-list,
.nav-item,
.nav-menu {
  display: flex;
  margin-left: 25px;
  text-decoration: none;
}
.phone {
  margin-right: 215px;
}

.nav-menu {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mail-to,
.phone {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

.nav-menu:hover,
.mail-to:hover,
.phone:hover {
  color: #2196f3;
}

main,
header,
footer {
  font-family: Roboto;
  font-style: normal;
}
.banner {
  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
}
.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
}
.order-button-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* особливості */
.abilities-list {
  margin-top: 93px;
  padding-left: 215px;
  padding-right: 215px;
}

.abilities-list,
.abilities {
  text-decoration: none;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.abilities-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
  align-items: stretch;
}
h2 {
  text-align: center;
}
