:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #e5e5e5;
  --background-color: #2f303a;
}
body {
  width: 1600px;
}

.list {
  list-style: none;
}
a,
body,
main,
footer {
  font-family: Roboto;
  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
}
/* header styles */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  margin-left: 215px;
}
.design {
  color: var(--accent-color);
}

.nav.link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mail-to,
.phone {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.nav.menu:hover,
.mail-to:hover,
.phone:hover,
.nav.menu:focus,
.mail-to:focus,
.phone:focus {
  color: var(--accent-color);
}

.banner {
  width: 1600px;
  height: 600px;
  background-color: var(--background-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  padding-top: 200px;
}
.button.div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order.button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
}
.order.button.text {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
/* особливості */
.abilities.list {
  margin-top: 93px;
  padding-left: 215px;
  padding-right: 215px;
}

.abilities.list,
.abilities {
  text-decoration: none;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.abilities-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
h2 {
  text-align: center;
}
.filter {
  width: 73px;
  height: 38px;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.all,
.website,
.applications,
.dezign,
.marketing {
  background-color: #f5f4fa;
  border-style: none;
  box-shadow: none;
}
.filter {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: #f5f4fa;
  box-shadow: none;
}
.filter {
  width: 128px;
}
.filter:active {
  background: #2196f3;
  color: #f5f4fa;
}

/* footer */
.footer {
  width: 1600px;
  height: 252px;
  background-color: var(--background-color);
  color: var(--secondary-text-color);
}
.footer a.mail-to,
.footer a.phone {
  color: hsla(0, 0%, 100%, 0, 6);
}
.footer a.logo {
  color: var(--secondary-text-color);
}
address {
  font-style: normal;
}

/* flex items */
.header,
.nav,
.nav.list,
.nav.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mail-to,
.phone,
.info.item,
.info.list,
.nav.item,
.nav.menu {
  display: flex;
  margin-left: 25px;
  text-decoration: none;
}
.info.list {
  align-content: center;
}
.phone {
  margin-right: 215px;
}
.info.item {
  justify-content: flex-end;
}
